/* Media queries go here */

@media only screen and (max-width: 1090px) {
	.product-image {
		width: 250px;
	}

	.item-details {
		width: 9em;
		margin-top: 3em;
	}
}

@media only screen and (max-width: 950px) {
	h1 {
		font-size: 3em;
		padding-top: 1em;
	}

	.list-name-form {
		width: 100%;
	}

	.list-header {
		padding: 1%;
	}

	.product-image {
		width: 200px;
	}

	.item-name {
		font-size: 1.1em;
	}

	.website {
		font-size: .5em;
	}

	.price {
		font-size: 1em;
	}

	/* fake carousel */
	.next, .previous {
		padding-bottom: 5em;
		width: 50px;
	}

	.towel-pic {
		width: 230px;
		margin: 0 1.5em;
	}
	/* end fake carousel */

}

@media only screen and (max-width: 810px) {
	/* fake carousel */
	.next, .previous {
		padding-bottom: 4.3em;
		width: 40px;
	}

	.towel-pic {
		width: 200px;
		margin: 0 1em;
	}
	/* end fake carousel */

	.instructions {
		margin: 6% 0% 3% 1%;
	}
}

@media only screen and (max-width: 550px) {
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.2em;
		padding-top: .3em;
	}

	input[type=text] {
		border-radius: .3em;
	}

	.share-list img {
		width: 80px;
	}

	.add-item img {
		width: 37px;
	}

	.zero-state {
		font-size: 1.3em;
	}

	.pictures {
		border-radius: .3em;
	}

	.products {
		width: 100%;
	}

	.product-image {
		width: 170px;
		margin-top: 1em;
	}

	.product-container {
		margin: .4em 0;
		border-radius: .3em;
	}

	/* fake carousel */
	.next, .previous {
		padding-bottom: 3.5em;
		width: 30px;
	}

	.towel-pic {
		width: 150px;
		margin: 0 .3em;
	}
	/* end fake carousel */

	.item-details {
		width: 9em;
		margin-top: 1.4em;
	}

	.numbers {
		font-size: 1.3em;
	}

}